.logo {
    @extend %link;
    color: var(--logo-text-color);

    font-family: var(--font-logo);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    text-decoration: none;
}

.logo__accent {
    color: var(--accent-color);
}

.page-footer__logo {
    @extend .logo;
    display: inline-block;

    color: var(--primary-white-color);

    margin-bottom: 20px;
}