.section--grey {
    @extend .section;
    background-color: var(--secondary-background);
}


.employee-set {
    @extend %list;
    display: flex;
}


.employee-set__item {
    background-color: var(--primary-white-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    &:not(:last-child) {
        margin-right: 30px;
    }
}


.employee-set__meta {
    text-align: center;
    padding: 30px 0;
}


.employee-set__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;

    margin-bottom: 10px;
}

.employee-set__text {
    margin-bottom: 16px;
    color: var(--secondary-text-color);

    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

